#map { 
    height: 500px; width: 60%;
}

#url1 {
    position: absolute;
    bottom: 10px;
    left: 30%;
    right: 30%;
  }

  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #weatherTable {
      background-color: white;
  }